html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.body -content {
    padding-bottom: 30px;
}

.image-container
{
    max-height: 200px;
    height: 200px;
}

.img-fluid
{
    max-height: 100%;
}