@model SmallCartViewModel

@if(Model != null)
{
    <p><i class="bi bi-cart4"></i><span class="btn btn-group-vertical">@Model.NumberOfitems</span></p>
    <p>Total: <b>@Model.TotalAmount.ToString("C2")</b></p>
    <a class="button-84" asp-controller="Cart" asp-action="Index">View</a>
    <a class="button-84" asp-controller="Cart" asp-action="Clear">Clear</a>
}
else
{
    <p class="lead m-0">Your Cart Is Empty</p>
}

